
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
        }

        .banner {
            background-color: #00CED1;
            color: #FFFFFF;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
        }

        header, footer {
            background-color: #48D147;
        }

        html, body {
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: Roboto, sans-serif;
            background-color: #ffffff;
            color: #000000;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
        }

        a {
            color: #00CED1;
        }
          
          a:hover {
            color: #0000ff;
        }
          
          h1 {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }
        
        p {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
            color: #666;
        }
        
        form {
            border: 2px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #fff;
        }

        .btn-primary {
            color: #FFFFFF;
            background-color: #00CED1;
            border-color: #00CED1;
        }

        .btn-secondary {
            color: #FFFFFF;
            background-color: #FCCFCC;
            border-color: #FCCFCC;
        }
        
        fieldset {
            margin-bottom: 20px;
        }
        
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #666;
        }
        
        input[type="text"], input[type="email"] {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            margin-bottom: 10px;
            font-size: 18px;
            color: #666;
        }
        
        input[type="radio"] {
            margin-right: 10px;
        }
        
        #errorMsg {
            color: red;
            font-weight: bold;
            margin-top: 10px;
        }

        @media only screen and (max-width:600px){

            .container {
                width: 100%;
            }
        }

        @media only screen and (min-width:601px){

            .container {
                width: 100%;
            }
        }